.fixed-table{ table-layout: fixed;}
#add-product-btn-wrapper{padding-top: 20px;}
/*#product-table{margin-bottom: 0;}*/
#product-summary-table-container{overflow: auto;}
#product-summary-table .description{font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);}
#product-summary-table{background-color: whiteSmoke;}
/*#product-summary-row{background-color: #0069D6; color: white;}
#product-weight-summary-row{background-color: #0069D6; color: white;}*/
#weight-input{margin-left: 5px; margin-right: 5px;}
